@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './assets/css/style.default.css';

.smooth-enter {
  opacity: 0.01;
}

.smooth-enter.smooth-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.smooth-leave {
  opacity: 1;
}

.smooth-leave.smooth-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.smooth-appear {
  opacity: 0.01;
}

.smooth-appear.smooth-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

/* New */

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector {
  background-color: #2d3035 !important;
  border-radius: 0px;
  border-color: #3d4148;
  caret-color: #777;
  color: #777;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input)
  .ant-select-selector:focus-within {
  border-color: #db6574;
}

.ant-select-multiple.ant-select-lg .ant-select-selection-item {
  background-color: #db6574;
  border-color: #db6574;
  color: #ffffff;
}

.ant-select-multiple .ant-select-selection-item-remove svg {
  color: #ffffff;
  display: flex;
}

.table {
  color: #8a8d93 !important;
}

a {
  text-decoration: none !important;
}
