@import '../node_modules/bootstrap/dist/css/bootstrap.min.css';
@import '../node_modules/font-awesome/css/font-awesome.min.css';
@import './assets/css/style.default.css';

.smooth-enter {
  opacity: 0.01;
}

.smooth-enter.smooth-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.smooth-leave {
  opacity: 1;
}

.smooth-leave.smooth-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}

.smooth-appear {
  opacity: 0.01;
}

.smooth-appear.smooth-appear-active {
  opacity: 1;
  transition: opacity .5s ease-in;
}

.ant-select-lg .ant-select-selection--single {
  background-color: #2d3035!important;
  border-radius: 0px;
  border-color: #3d4148;
  caret-color: #777;
  color: #777;
}

.ant-select-lg .ant-select-selection--single:focus-within{
  color: #979a9f;
  background-color: transparent;
  border-color: #DB6574;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.0rem rgba(219, 101, 116, 0.25);
  box-shadow: 0 0 0 0.0rem rgba(219, 101, 116, 0.25);
}

.ant-select-lg .ant-select-selection--single:hover{
  border-color: #3d4148;
  outline: none;
}

.ant-select-lg .ant-select-selection--multiple {
  background-color: #2d3035!important;
  border-radius: 0px;
  border-color: #3d4148;
  caret-color: #777;
}

.ant-select-lg .ant-select-selection--multiple:focus-within {
  color: #979a9f;
  background-color: transparent;
  border-color: #DB6574;
  outline: none;
  -webkit-box-shadow: 0 0 0 0.0rem rgba(219, 101, 116, 0.25);
  box-shadow: 0 0 0 0.0rem rgba(219, 101, 116, 0.25);
}

.ant-select-lg .ant-select-selection--multiple:hover{
  border-color: #3d4148;
  outline: none;
}

.ant-select-selection--multiple .ant-select-selection__choice {
  color: #ffffff!important;
  border: none!important;
  background-color: #DB6574!important;
}

.ant-select-dropdown-menu-item {
  color: #777!important;
}

.ant-select-dropdown-menu-item-active {
  background-color: #1890ff!important;
  color: #ffffff!important;
}

.ant-select-dropdown-menu-item:hover {
  background-color: #1890ff!important;
  color: #ffffff!important;
}